<mat-toolbar color="primary">
  <button (click)="toggleDrawer()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Agroalim</span>
  <span class="sb-spacer"></span>
  <!--
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
  -->
  <span>Solicitud de afilicación</span>
</mat-toolbar>

<mat-drawer-container style="height: 93vh" autosize>
  <br>
  <mat-drawer #drawer name="drawer" class="sb-sidenav" mode="push">

    <mat-selection-list [multiple]="false"  *ngIf="itsAuthenticated">
      <mat-list-option [routerLink]="'home/dashboard'">
        <mat-icon mat-list-icon class="gray-icon">dashboard</mat-icon>
        Dashboard
      </mat-list-option>

      <mat-list-option [routerLink]="'home/solicitudes'">
        <mat-icon mat-list-icon class="gray-icon">back_hand</mat-icon>
        Solicitudes
      </mat-list-option>
      <mat-list-option [routerLink]="'home/empresas'">
        <mat-icon mat-list-icon class="gray-icon">business</mat-icon>
        Empresas
      </mat-list-option>
      
      <mat-list-option [routerLink]="'home/catalogos'">
        <mat-icon mat-list-icon class="gray-icon">menu_book</mat-icon>
        Catalogos
      </mat-list-option>
      <mat-list-option [routerLink]="'home/mi-cuenta'">
        <mat-icon mat-list-icon class="gray-icon">account_circle</mat-icon>
        Mi cuenta
      </mat-list-option>
      <mat-list-option (click)="closeSession()">
        <mat-icon mat-list-icon class="gray-icon">logout</mat-icon>
        Cerrar sesión
      </mat-list-option>
    </mat-selection-list>

  </mat-drawer>
  <div class="container">
    <div class="row">
      <div class="col sidenav-content">
        <mat-card class="w-100">
          <router-outlet></router-outlet>
        </mat-card>
      </div>
    </div>
  </div>
  <br>
</mat-drawer-container>