<div class="jumbotron" *ngIf="parte!=3">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12 text-center"><!-- -->
            <img src="assets/imgs/favicon.png" class="img-fluid" style="padding-top: auto;">
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12">
            <h1 class="display-4">Clúster Agroalimentrario A.C.</h1>
            <p>Código FAD.01.02 - Revisión 00 - Emisión 15/01/21</p>
            <p>Antes de llenar la siguiente solicitud, es necesario contar con los requisitos debidamente escaneados y listos para ser subidos al servidor para que pueda ser tomada en cuenta su solicitud. En caso de que no se cuente con alguno de los requisitos puede que su solicitud sea rechazada.</p>
            <ol>
                <li>Logotipo oficial de la empresa en alta resolución.</li>
                <li>Alta de registro federal de contribullentes (RFC).</li>
                <li>Imagen o Scan de identificacion del representante legal.</li>
                <li>Poder legal.</li>
                <li>Comprobante de domicilio.</li>
                <li>Comprobante de pago de la cuota correspondiente.</li>
            </ol>
            <div class="row">
                <div class="col text-end">
                    <p class="text-muted small">* Todos los archivos (requisitos) deberán ser comprimidos en una carpeta <b>.zip</b></p>
                </div>
            </div>
        </div>
    </div>
    
    <hr class="my-4">
    <div class="row" *ngIf="parte==1">
        <div class="col">
            <h1 class="display-4">Solicitud de afiliación 1/2</h1>
        </div>
    </div>

    <div class="row" *ngIf="parte==2">
        <div class="col">
            <h1 class="display-4">Adjunte los requisitos 2/2</h1>
        </div>
    </div>
</div>

<form  [formGroup]="formFiles" (ngSubmit)="saveRequisitos()" *ngIf="parte==2">
    <div class="row">
        <div class="col">
            <mat-form-field class="w-100">
                <ngx-mat-file-input 
                    formControlName="requisitos"  
                    [accept]="'.zip'" 
                    placeholder="Adjunte los requisitos solicitados comprimidos en .zip [Max. 128 MB]" 
                    (change)="onFileChange($event,'requisitos')">
                </ngx-mat-file-input>
                <mat-icon matSuffix>folder_zip</mat-icon>
                <mat-error *ngIf="formFiles.get('requisitos')!.touched && formFiles.get('requisitos')!.invalid">
                    <p *ngIf="formFiles.get('requisitos')!.hasError('required')">Campo requerido</p>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="submit" class="w-100" mat-raised-button color="primary">Guardar <mat-icon>send</mat-icon></button>
            <mat-progress-bar mode="query" *ngIf="guardando"></mat-progress-bar>
        </div>
    </div>
    <div class="row" *ngIf="guardando">
        <div class="col">
            <p>{{errorMensaje}}</p>
        </div>
    </div>
</form>

<form  [formGroup]="formRegistro" (ngSubmit)="save()" *ngIf="parte==1">
    <div class="row">
        <div class="col">
            <p class="h5">Datos principales de la empresa</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="w-100">
                <mat-label>Nombre</mat-label>
                <input matInput type="text"  formControlName="nombre">
                <mat-error *ngIf="formRegistro.get('nombre')!.touched && formRegistro.get('nombre')!.invalid">
                    <p *ngIf="formRegistro.get('nombre')!.hasError('required')">Campo requerido</p>
                    <p *ngIf="formRegistro.get('nombre')!.hasError('maxlength')">Máximo 250 carácteres</p>
                    <p *ngIf="formRegistro.get('nombre')!.hasError('pattern')">Dato inválido</p>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="w-100">
                <mat-label>Razón social</mat-label>
                <input matInput type="text"  formControlName="razon_social">
                <mat-error *ngIf="formRegistro.get('razon_social')!.touched && formRegistro.get('razon_social')!.invalid">
                    <p *ngIf="formRegistro.get('razon_social')!.hasError('required')">Campo requerido</p>
                    <p *ngIf="formRegistro.get('razon_social')!.hasError('maxlength')">Máximo 250 carácteres</p>
                    <p *ngIf="formRegistro.get('razon_social')!.hasError('pattern')">Dato inválido</p>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="w-100">
                <mat-label>RFC</mat-label>
                <input matInput type="text"  formControlName="rfc">
                <mat-error *ngIf="formRegistro.get('rfc')!.touched && formRegistro.get('rfc')!.invalid">
                    <p *ngIf="formRegistro.get('rfc')!.hasError('required')">Campo requerido</p>
                    <p *ngIf="formRegistro.get('rfc')!.hasError('maxlength')">Máximo 16 carácteres</p>
                    <p *ngIf="formRegistro.get('rfc')!.hasError('pattern')">Dato inválido, no coincide con rfc.</p>
                    <p *ngIf="formRegistro.get('rfc')!.hasError('exists')">Este RFC ya se encuentra registrado.</p>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <mat-form-field class="w-100">
                <mat-label>Teléfono principal</mat-label>
                <input matInput type="tel" formControlName="telefono">
                <mat-error *ngIf="formRegistro.get('telefono')!.touched && formRegistro.get('telefono')!.invalid">
                    <p *ngIf="formRegistro.get('telefono')!.hasError('required')">Campo requerido</p>
                    <p *ngIf="formRegistro.get('telefono')!.hasError('maxlength')">Máximo 16 carácteres</p>
                    <p *ngIf="formRegistro.get('telefono')!.hasError('pattern')">Dato inválido, no coincide con teléfono.</p>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="w-100">
                <mat-label>Sitio en la WEB</mat-label>
                <input matInput type="url" formControlName="sitio">
                <mat-error *ngIf="formRegistro.get('sitio')!.touched && formRegistro.get('sitio')!.invalid">
                    <p *ngIf="formRegistro.get('sitio')!.hasError('required')">Campo requerido</p>
                    <p *ngIf="formRegistro.get('sitio')!.hasError('maxlength')">Máximo 16 carácteres</p>
                    <p *ngIf="formRegistro.get('sitio')!.hasError('pattern')">Dato inválido, no coincide con un sítio.</p>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="h6">Domicilio</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="w-100">
                <mat-label>Calle y número</mat-label>
                <input matInput type="text"  formControlName="calle_numero">
                <mat-error *ngIf="formRegistro.get('calle_numero')!.touched && formRegistro.get('calle_numero')!.invalid">
                    <p *ngIf="formRegistro.get('calle_numero')!.hasError('required')">Campo requerido</p>
                    <p *ngIf="formRegistro.get('calle_numero')!.hasError('maxlength')">Máximo 500 carácteres</p>
                    <p *ngIf="formRegistro.get('calle_numero')!.hasError('pattern')">Dato inválido</p>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="w-100">
                <mat-label>Código postal</mat-label>
                <input matInput type="number"  formControlName="codigo_postal">
                <mat-error *ngIf="formRegistro.get('codigo_postal')!.touched && formRegistro.get('codigo_postal')!.invalid">
                    <p *ngIf="formRegistro.get('codigo_postal')!.hasError('required')">Campo requerido</p>
                    <p *ngIf="formRegistro.get('codigo_postal')!.hasError('maxlength')">Máximo 8 carácteres</p>
                    <p *ngIf="formRegistro.get('codigo_postal')!.hasError('pattern')">Dato inválido</p>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="w-100">
                <mat-label>Colonia</mat-label>
                <input matInput type="text"  formControlName="colonia">
                <mat-error *ngIf="formRegistro.get('colonia')!.touched && formRegistro.get('colonia')!.invalid">
                    <p *ngIf="formRegistro.get('colonia')!.hasError('required')">Campo requerido</p>
                    <p *ngIf="formRegistro.get('colonia')!.hasError('maxlength')">Máximo 120 carácteres</p>
                    <p *ngIf="formRegistro.get('colonia')!.hasError('pattern')">Dato inválido</p>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="w-100">
                <mat-label>Municipio</mat-label>
                <input matInput type="text"  formControlName="municipio">
                <mat-error *ngIf="formRegistro.get('municipio')!.touched && formRegistro.get('municipio')!.invalid">
                    <p *ngIf="formRegistro.get('municipio')!.hasError('required')">Campo requerido</p>
                    <p *ngIf="formRegistro.get('municipio')!.hasError('maxlength')">Máximo 120 carácteres</p>
                    <p *ngIf="formRegistro.get('municipio')!.hasError('pattern')">Dato inválido</p>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="w-100">
                <mat-label>Estado</mat-label>
                <input matInput type="text"  formControlName="estado">
                <mat-error *ngIf="formRegistro.get('estado')!.touched && formRegistro.get('estado')!.invalid">
                    <p *ngIf="formRegistro.get('estado')!.hasError('required')">Campo requerido</p>
                    <p *ngIf="formRegistro.get('estado')!.hasError('maxlength')">Máximo 120 carácteres</p>
                    <p *ngIf="formRegistro.get('estado')!.hasError('pattern')">Dato inválido</p>
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col">
            <p class="h6">Datos de contacto responsable ante el clúster</p>
        </div>
    </div>
    <div formArrayName="responsables_cluster">
        <div *ngFor="let item of getResponsablesCluster.controls; let PosC = index" [formGroupName]="PosC">
            <div class="row">
                <div class="col">
                    <p><b>{{rol_empresa[PosC].nombre}}</b> {{rol_empresa[PosC].descripcion}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Nombre(s)</mat-label>
                        <input matInput type="text" formControlName="nombre">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Apellido(s)</mat-label>
                        <input matInput type="text" formControlName="apellido">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Teléfono Oficina</mat-label>
                        <input matInput type="tel" formControlName="telefono_oficina">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Teléfono Móvil (WhatsApp)</mat-label>
                        <input matInput type="tel" formControlName="telefono_whatsapp">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Correo</mat-label>
                        <input matInput type="email" formControlName="correo">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col">
            <p class="h6">Responsables de participar comité</p>
        </div>
    </div>
    <div formArrayName="responsables_comite">
        <div *ngFor="let item of getResponsablesComite.controls; let PosR = index" [formGroupName]="PosR">
            <div class="row">
                <div class="col">
                    <p><b>{{comites[PosR].nombre}}</b> {{comites[PosR].descripcion}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Nombre(s)</mat-label>
                        <input matInput type="text" formControlName="nombre">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Apellido(s)</mat-label>
                        <input matInput type="text" formControlName="apellido">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Puesto</mat-label>
                        <mat-select formControlName="puesto">
                            <mat-option *ngFor="let puesto of puestos" [value]="puesto.id_puesto">{{puesto.nombre}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Profesión</mat-label>
                        <mat-select formControlName="profesion">
                            <mat-option *ngFor="let profesion of profesiones" [value]="profesion.id_profesion">{{profesion.nombre}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Teléfono Oficina</mat-label>
                        <input matInput type="tel" formControlName="telefono_oficina">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Teléfono Móvil (WhatsApp)</mat-label>
                        <input matInput type="tel" formControlName="telefono_whatsapp">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Correo</mat-label>
                        <input matInput type="email" formControlName="correo">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col">
            <p class="h6">Datos de actividades de la empresa</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="w-100">
                <mat-label>Descripción corta de su empresa</mat-label>
                <textarea matInput type="text"  formControlName="descripcion"></textarea>
                <mat-error *ngIf="formRegistro.get('descripcion')!.touched && formRegistro.get('descripcion')!.invalid">
                    <p *ngIf="formRegistro.get('descripcion')!.hasError('required')">Campo requerido</p>
                    <p *ngIf="formRegistro.get('descripcion')!.hasError('maxlength')">Máximo 1000 carácteres</p>
                    <p *ngIf="formRegistro.get('descripcion')!.hasError('pattern')">Dato inválido</p>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="w-100">
                <mat-label>Indique tipo de negocio</mat-label>
                <mat-select formControlName="tipo_negocio" multiple>
                    <mat-option *ngFor="let tipo of tipos_negocio" [value]="tipo.nombre">{{tipo.nombre}}</mat-option>
                </mat-select>
                <mat-error *ngIf="formRegistro.get('tipo_negocio')!.touched && formRegistro.get('tipo_negocio')!.invalid">
                    <p *ngIf="formRegistro.get('tipo_negocio')!.hasError('required')">Campo requerido</p>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="w-100">
                <mat-label>En que parte de la cadena productiva esta ubicado (Marque con una X)</mat-label>
                <mat-select formControlName="cadena_productiva" multiple>
                    <mat-option *ngFor="let cadena of cadenas_productiva" [value]="cadena.id_cadena_productiva">{{cadena.nombre}}</mat-option>
                </mat-select>
                <mat-error *ngIf="formRegistro.get('cadena_productiva')!.touched && formRegistro.get('cadena_productiva')!.invalid">
                    <p *ngIf="formRegistro.get('cadena_productiva')!.hasError('required')">Campo requerido</p>
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col">
            <p class="h6">Datos de capacidad de la empresa</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="w-100">
                <mat-label>Número de empleados</mat-label>
                <input matInput type="number" formControlName="numero_empleados">
                <mat-error *ngIf="formRegistro.get('numero_empleados')!.touched && formRegistro.get('numero_empleados')!.invalid">
                    <p *ngIf="formRegistro.get('numero_empleados')!.hasError('required')">Campo requerido</p>
                    <p *ngIf="formRegistro.get('numero_empleados')!.hasError('min')">Mínimo 1 empleado. </p>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="w-100">
                <mat-label>Facturación anual promedio en millones de pesos</mat-label>
                <mat-select formControlName="facturacion_anual">
                    <mat-option *ngFor="let fca of facturacion_anual" [value]="fca.id_facturacion">{{fca.nombre}}</mat-option>
                </mat-select>
                <mat-error *ngIf="formRegistro.get('facturacion_anual')!.touched && formRegistro.get('facturacion_anual')!.invalid">
                    <p *ngIf="formRegistro.get('facturacion_anual')!.hasError('required')">Campo requerido</p>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="h6">¿Su empresa actualmente participa en algún proyecto dentro del sector alimentario con alguna organizacion?. Seleccione cual(si no es, asi omita esta opción)</p>
        </div>
    </div>
    <div class ="row">
        <div class="col">
            <mat-form-field class="w-100">
                <mat-label>Seleccione la organizacion en la que su empresa participa.</mat-label>
                <mat-select formControlName="organizaciones">
                    <mat-option *ngFor="let organizacion of organizaciones" [value]="organizacion.id_organizacion">{{organizacion.nombre}}</mat-option>
                </mat-select>
                <mat-error *ngIf="formRegistro.get('organizaciones')!.touched && formRegistro.get('organizaciones')!.invalid">
                    <p *ngIf="formRegistro.get('organizaciones')!.hasError('required')">Campo requerido</p>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="h6">Comentarios acerca de la organización en la que la empresa participa.</p>
        </div>
    </div>
    <div class="row">
        <div class ="col">
            <mat-form-field class="w-100">
                <mat-label>Comentarios acerca de la participacion de la empresa en la organización.</mat-label>
                <input matInput type="text" formControlName="comentario">
                <mat-error *ngIf="formRegistro.get('comentario')!.touched && formRegistro.get('comentario')!.invalid">
                    <p *ngIf="formRegistro.get('comentario')!.hasError('required')">Campo requerido</p>
                    <p *ngIf="formRegistro.get('comentario')!.hasError('maxlength')">Máximo 1000 carácteres</p>
                    <p *ngIf="formRegistro.get('comentario')!.hasError('pattern')">Dato inválido</p>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="h6">¿Su empresa exporta?</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="w-100">
                <mat-label>(Marque con una X)</mat-label>
                <mat-select formControlName="exporta">
                    <mat-option *ngFor="let opcion of exportaciones" [value]="opcion.nombre">{{opcion.nombre}}</mat-option>
                </mat-select>
                <mat-error *ngIf="formRegistro.get('exporta')!.touched && formRegistro.get('exporta')!.invalid">
                    <p *ngIf="formRegistro.get('exporta')!.hasError('required')">Campo requerido</p>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row" *ngIf="formRegistro.value.exporta == 'Si'">
        <div class ="col">
            <mat-form-field class="w-100">
                <mat-label>Inserte los paises a los que exporta.</mat-label>
                <input matInput type="text" formControlName="paises_exporta">
                <mat-error *ngIf="formRegistro.get('paises_exporta')!.touched && formRegistro.get('paises_exporta')!.invalid">
                    <p *ngIf="formRegistro.get('paises_exporta')!.hasError('required')">Campo requerido</p>
                    <p *ngIf="formRegistro.get('paises_exporta')!.hasError('maxlength')">Máximo 2000 carácteres</p>
                    <p *ngIf="formRegistro.get('paises_exporta')!.hasError('pattern')">Dato inválido</p>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="h6">¿Cuales son las normas. regulaciones o estándares mexicanas e internacionales que aplican para el giro de su empresa y que aplican actualmente en su empresa (Puede marcar más de una según aplique)?</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="w-100">
                <mat-label>Puede seleccionar una o más opciones</mat-label>
                <mat-select formControlName="normas" multiple>
                    <mat-option *ngFor="let norma of normas" [value]="norma.id_norma">{{norma.nombre}}</mat-option>
                </mat-select>
                <mat-error *ngIf="formRegistro.get('normas')!.touched && formRegistro.get('normas')!.invalid">
                    <p *ngIf="formRegistro.get('normas')!.hasError('required')">Campo requerido</p>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="h6">¿En qué temas le gustaria recibir más apoyo del Clúster</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="w-100">
                <mat-label>Puede seleccionar una o más opciones</mat-label>
                <mat-select formControlName="temas" multiple>
                    <mat-option *ngFor="let tema of temas" [value]="tema.id_tema">{{tema.nombre}}</mat-option>
                </mat-select>
                <mat-error *ngIf="formRegistro.get('temas')!.touched && formRegistro.get('temas')!.invalid">
                    <p *ngIf="formRegistro.get('temas')!.hasError('required')">Campo requerido</p>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class ="col">
            <mat-form-field class="w-100">
                <mat-label>Comentario acerca de algun tema del que lo pueda apoyar el Cluster</mat-label>
                <input matInput type="text" formControlName="sugerencia">
                <mat-error *ngIf="formRegistro.get('sugerencia')!.touched && formRegistro.get('sugerencia')!.invalid">
                    <p *ngIf="formRegistro.get('sugerencia')!.hasError('required')">Campo requerido</p>
                    <p *ngIf="formRegistro.get('sugerencia')!.hasError('maxlength')">Máximo 1000 carácteres</p>
                    <p *ngIf="formRegistro.get('sugerencia')!.hasError('pattern')">Dato inválido</p>
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button type="submit" class="w-100" mat-raised-button color="primary">Guardar <mat-icon>send</mat-icon></button>
            <mat-progress-bar mode="query" *ngIf="guardando"></mat-progress-bar>
        </div>
    </div>
    <div class="row" *ngIf="guardando">
        <div class="col">
            <p>{{errorMensaje}}</p>
        </div>
    </div>


</form>

<div class="card" *ngIf="parte==3">
    <div class="card-body">
        <div class="row text-center">
            <div class="col-sm-12 col-md-4 col-lg-4 offset-md-4 offset-lg-4">
                <img src="assets/imgs/favicon.png" class="img-fluid" style="padding-top: auto;">
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-12 col-md-4 col-lg-4 offset-md-4 offset-lg-4">
                <h1 class="display-4">Clúster Agroalimentrario A.C.</h1>
                <p class="lead">Acuse de solicitud de afiliación.</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-8 offset-md-2 offset-lg-2">
                <p>Acuse de solicitud para la afiliación al Clúster Agroalimentrario de Nuevo León. Los datos de la empresa solicitante y la fecha de solicitud se lista a continuación.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-8 offset-md-2 offset-lg-2">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Nombre de empresa</div>
                            {{formRegistro.value.nombre}}
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Razón social</div>
                            {{formRegistro.value.razon_social}}
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">RFC</div>
                            {{formRegistro.value.rfc}}
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Fecha solicitud</div>
                            {{hoy | date}}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-8 offset-md-2 offset-lg-2">
                <p>Su solicitud será procesada y analizada por los administradores del Clúster Agroalimentrario de Nuevo León tomando la consitencia entre los requisitos enviados, serás notificado de la resolución mediante correo electrónico.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-8 offset-md-2 offset-lg-2 text-end noprint">
                <p class="text-muted"><small>Ctrl + P para imprimir o convertir en PDF.</small></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-8 offset-md-2 offset-lg-2 text-end noprint">
                <p class="text-muted"><small>Puede cerrar esta ventana</small></p>
            </div>
        </div>
    </div>
</div>