
<div class="jumbotron">
    <h1 class="display-4">Administración de Catálogos</h1>
    <p class="lead">Agregue, elimine, actualice o inhabilite opciones de los catalogos mostrados en la aplicación.</p>
    <hr class="my-4">

    <div class="row">
        <div class="col">
            <mat-tab-group mat-align-tabs="center">
                <mat-tab label="{{catalogo.nombre}}" *ngFor="let catalogo of catalogos">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <app-catalogo [tableName]="catalogo.nombre_tabla" [tableIndexName]="catalogo.nombre_pk"  [endpoint]="catalogo.endpoint"></app-catalogo>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>

</div>
