<div class="jumbotron">
    <h1 class="display-4">Administración de Catálogos</h1>
    <p class="lead">Agregue, elimine, actualice o inhabilite opciones de los catalogos mostrados en la aplicación.</p>
    <hr class="my-4">
    
    <div class="row">
        <div class="col">
            <mat-tab-group mat-align-tabs="center">
                <mat-tab label="Puestos">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <app-catalogo [tableName]="'puestos'" [tableIndexName]="'id_puesto'"></app-catalogo>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Normas">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <app-catalogo [tableName]="'normas'" [tableIndexName]="'id_norma'"></app-catalogo>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Comites">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <app-catalogo [tableName]="'comites'" [tableIndexName]="'id_comite'"></app-catalogo>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Facturacion">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <app-catalogo [tableName]="'facturacion'" [tableIndexName]="'id_facturacion'"></app-catalogo>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Actividades">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <app-catalogo [tableName]="'actividades'" [tableIndexName]="'id_actividad'"></app-catalogo>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Temas">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <app-catalogo [tableName]="'temas'" [tableIndexName]="'id_tema'"></app-catalogo>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Organizaciones">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <app-catalogo [tableName]="'organizaciones'" [tableIndexName]="'id_organizacion'"></app-catalogo>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>

</div>