<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 offset-lg-4 offset-md-3">

        <form [formGroup]="loginForm">
            <div class="row">
                <div class="col">
                    <p class="lead">
                        Login administrador
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Email</mat-label>
                        <input matInput type="text" formControlName="user">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Contraseña</mat-label>
                        <input matInput type="password" formControlName="password">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="w-100" mat-raised-button color="primary" [disabled]="loginForm.invalid"  (click)="initSession()">Entrar</button>
                </div>
            </div>
        </form>

    </div>
</div>