
<mat-form-field appearance="standard" class="w-100">
    <mat-label>Filtrar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>
  

<div class="mat-elevation-z1">
  <table class="table table-hover w-100">
    <thead>
      <tr>
        <th scope="col" *ngFor="let column of columsTable">{{column}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of dataTable; let idx = index">
        <th scope="row">{{idx+1}}</th>
        <td>{{row.nombre}}</td>
        <td>{{row.fecha_actualizacion}}</td>
        <td>{{row.baja?'Eliminado permanente':row.activo?'Habilitado':'Deshabilitado'}}</td>
        <td>
          <a href="#">Editar</a>
          <a href="#">Habilitar</a>
          <a href="#">Eliminar</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>