<div class="jumbotron">
    <h1 class="display-4">Empresas Solicitantes</h1>
    <p class="lead">Acepte o rechace solicitudes de afiliación de empresas solicitantes.</p>
    <hr class="my-4">
    
    <div class="row"  *ngIf="dataTable.length>0">
        <div class="col">
            <div class="mat-elevation-z1">
                <table class="table table-hover w-100">
                  <thead>
                    <tr>
                      <th scope="col" *ngFor="let column of columsTable">{{column}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let empresa of dataTable; let ind = index">
                      <th scope="row">{{ind + 1}}</th>
                      <td>{{empresa.nombre_comercial}} ({{empresa.razon_social}})</td>
                      <td>{{empresa.rfc}}</td>
                      <td>{{empresa.fecha_actualizacion | date : 'medium'}}</td>
                      <td>{{empresa.solicitud_rechazada?"Rechazada":"Pendiente"}}</td>
                      <td>
                        <button mat-icon-button matTooltip="Ver solicitud" routerLink="{{empresa.rfc}}/{{empresa.id_empresa}}" color="primary">
                          <mat-icon>visibility</mat-icon>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>  
        </div>
    </div>

	<div class="row" *ngIf="dataTable.length==0">
		<div class="col text-center">
			<p class="lead">Sin solicitantes</p>
		</div>
	</div>

</div>