<form  [formGroup]="formRegistro" (ngSubmit)="save()">
    <div class="row">
        <div class="col">
            <p class="h5">Datos de la empresa</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="w-100">
                <mat-label>Nombre</mat-label>
                <input matInput type="text"  formControlName="nombre">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="w-100">
                <mat-label>Razón social</mat-label>
                <input matInput type="text"  formControlName="razon_social">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="w-100">
                <mat-label>RFC</mat-label>
                <input matInput type="text"  formControlName="rfc">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="w-100">
                <mat-label>Descripción</mat-label>
                <textarea matInput type="text"  formControlName="descripcion"></textarea>
            </mat-form-field>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <p class="h6">Domicilio</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="w-100">
                <mat-label>Calle y número</mat-label>
                <input matInput type="text"  formControlName="calle_numero">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="w-100">
                <mat-label>Código postal</mat-label>
                <input matInput type="text"  formControlName="codigo_postal">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="w-100">
                <mat-label>Colonia</mat-label>
                <input matInput type="text"  formControlName="colonia">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="w-100">
                <mat-label>Municipio</mat-label>
                <input matInput type="text"  formControlName="municipio">
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="w-100">
                <mat-label>Estado</mat-label>
                <input matInput type="text"  formControlName="estado">
            </mat-form-field>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col">
            <p class="h6">Teléfonos</p>
        </div>
        <div class="col">
            <p class="h6 text-end ptb"><a (click)="addTelefono()">+</a></p>
        </div>
    </div>
    <div formArrayName="telefonos">
        <div class="row" *ngFor="let item of getTelefonos.controls; let PosT = index" [formGroupName]="PosT">
            <div class="col">
                <mat-form-field class="w-100">
                    <mat-label>Teléfono {{PosT+1}}</mat-label>
                    <input matInput type="text" formControlName="telefono">
                    <button type="button" (click)="delTelefono(PosT)" matSuffix mat-icon-button aria-label="Clear">
                      <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col">
            <p class="h6">Sitios en la web</p>
        </div>
        <div class="col">
            <p class="h6 text-end ptb"><a (click)="addSitio()">+</a></p>
        </div>
    </div>
    <div formArrayName="sitios">
        <div class="row" *ngFor="let item of getSitios.controls; let PosS = index" [formGroupName]="PosS">
            <div class="col">
                <mat-form-field class="w-100">
                    <mat-label>Sitio {{PosS+1}}</mat-label>
                    <input matInput type="text" formControlName="sitio">
                    <button type="button" (click)="delSitio(PosS)" matSuffix mat-icon-button aria-label="Clear">
                      <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col">
            <p class="h6">Datos de contacto responsable ante el clúster</p>
        </div>
    </div>
    <div formArrayName="responsables_cluster">
        <div *ngFor="let item of getResponsablesCluster.controls; let PosC = index" [formGroupName]="PosC">
            <div class="row">
                <div class="col">
                    <p><b>{{rol_empresa[PosC].nombre}}</b> {{rol_empresa[PosC].descripcion}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Nombre(s)</mat-label>
                        <input matInput type="text" formControlName="nombre">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Apellido(s)</mat-label>
                        <input matInput type="text" formControlName="apellido">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Telefono Oficina</mat-label>
                        <input matInput type="text" formControlName="telefono_oficina">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Telefono Móvil (WhatsApp)</mat-label>
                        <input matInput type="text" formControlName="telefono_movil">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Correo</mat-label>
                        <input matInput type="text" formControlName="correo">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col">
            <p class="h6">Responsables de participar comité</p>
        </div>
    </div>
    <div formArrayName="responsables_comite">
        <div *ngFor="let item of getResponsablesComite.controls; let PosR = index" [formGroupName]="PosR">
            <div class="row">
                <div class="col">
                    <p><b>{{comites[PosR].nombre}}</b> {{comites[PosR].descripcion}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Nombre(s)</mat-label>
                        <input matInput type="text" formControlName="nombre">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Apellido(s)</mat-label>
                        <input matInput type="text" formControlName="apellido">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Puesto</mat-label>
                        <input matInput type="text" formControlName="puesto">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Profesión</mat-label>
                        <input matInput type="text" formControlName="profesion">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Telefono Oficina</mat-label>
                        <input matInput type="text" formControlName="telefono_oficina">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Telefono Móvil (WhatsApp)</mat-label>
                        <input matInput type="text" formControlName="telefono_movil">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="w-100">
                        <mat-label>Correo</mat-label>
                        <input matInput type="text" formControlName="correo">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col">
            <p class="h6">Datos de actividades de la empresa</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="w-100">
                <mat-label>Indique tipo de negocio</mat-label>
                <mat-select formControlName="tipo_negocio">
                    <mat-option *ngFor="let tipo of tipos_negocio" [value]="tipo.id_tipo_negocio">{{tipo.nombre}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="w-100">
                <mat-label>En que parte de la cadena productiva esta ubicado (Marque con una X)</mat-label>
                <mat-select formControlName="cadena_prodictiva" multiple>
                    <mat-option *ngFor="let cadena of candenas_productiva" [value]="cadena.id_cadena_productiva">{{cadena.nombre}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col">
            <p class="h6">Datos de capacidad de la empresa</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="w-100">
                <mat-label>Número de empleados</mat-label>
                <input matInput type="text" formControlName="numero_empleados">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field class="w-100">
                <mat-label>Facturación anual promedio en millones de pesos</mat-label>
                <mat-select formControlName="facturacion_anual">
                    <mat-option *ngFor="let fca of facturacion_anual" [value]="fca.id_facturacion">{{fca.nombre}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="h6">¿Su empresa actualmente participa en algún proyecto dentro del sector alimentario con alguna organizacion?. Seleccione cual(si no es, asi omita esta opción)</p>
        </div>
    </div>
    <div class ="row">
      <div class="col">
        <mat-form-field class="w-100">
        <mat-label>Seleccione la organizacion en la que su empresa participa.</mat-label>
<mat-select formControlName="proyecto_sectorAlim">
  <mat-option *ngFor="let sea of proyecto_sectorAlim" [value]="sea.id_sectorAlim">{{sea.nombre}}</mat-option>
</mat-select>
</mat-form-field>
</div>
</div>
<div class="row">
    <div class="col">
        <p class="h6">Comentarios acerca de la organización en la que la empresa participa.</p>
    </div>
</div>
<div class="row">
  <div class ="col">
    <mat-form-field class="w-100">
      <mat-label>Comentarios acerca de la participacion de la empresa en la organización.</mat-label>
      <input matInput type="text" formControlName="comentario">
</mat-form-field>
    </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="h6">¿Su empresa exporta?</p>
        </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field class="w-100">
                    <mat-label>(Marque con una X)</mat-label>
                    <mat-select formControlName="opcione" multiple>
                        <mat-option *ngFor="let cadena of opcione" [value]="cadena.id_opcione">{{cadena.nombre}}</mat-option>
            </mat-select>
          </mat-form-field>
          </div>
          </div>
          <div class="row">
              <div class="col">
                  <p class="h6">¿A que paises exportan?</p>
              </div>
              </div>
              <div class="row">
                <div class ="col">
                  <mat-form-field class="w-100">
                    <mat-label>Inserte los paises a los que exportan. (en caso de ser NO. Escriba "en proceso")</mat-label>
                    <input matInput type="text" formControlName="exporta">
              </mat-form-field>
                  </div>
                  </div>
                  <div class="row">
                      <div class="col">
                          <p class="h6">¿Cuales son las normas. regulaciones o estándares mexicanas e internacionales que aplican para el giro de su empresa y que aplican actualmente en su empresa (Puede marcar mas de una segun aplique)?</p>
                      </div>
                      </div>
                      <div class="row">
                          <div class="col">
                              <mat-form-field class="w-100">
                                  <mat-label>Puede seleccionar una o más opciones</mat-label>
                                  <mat-select formControlName="normas" multiple>
                                      <mat-option *ngFor="let cadena of normas" [value]="cadena.id_normas">{{cadena.nombre}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="h6">¿En qué temas le gustaria recibir más apoyo del Clúster</p>
                            </div>
                            </div>
                        <div class="row">
                            <div class="col">
                                <mat-form-field class="w-100">
                                    <mat-label>Puede seleccionar una o más opciones</mat-label>
                                    <mat-select formControlName="temas" multiple>
                                        <mat-option *ngFor="let cadena of temas" [value]="cadena.id_temas">{{cadena.nombre}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          </div>
                          </div>
                          <div class="row">
                            <div class ="col">
                              <mat-form-field class="w-100">
                                <mat-label>Comentario acerca de algun tema del que lo pueda apoyar el Cluster</mat-label>
                                <input matInput type="text" formControlName="coment">
                          </mat-form-field>
                              </div>
                              </div>

    <div class="row">
        <div class="col">
            <button type="submit" class="w-100" mat-raised-button color="primary" [disabled]="formRegistro.invalid">Guardar <mat-icon>send</mat-icon></button>
        </div>
    </div>


</form>
